.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navelements {
    display: inline-block;
    margin: 15px;
}

.mmbutton {
    display: inline-block;
    margin: 15px;
    float: right;
}